<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ip tracker</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' href = './index.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="ipTracker" class = "ip-tracker">
        <label style = "font-size: larger;" for ='ipQuery'>Ingrese una dirección IP</label>
        <input type="text" class = "ip-tracker-query" style = "letter-spacing: 1pt;"        v-model="ipQuery" >
        <button type = "button" class = "btn btn-primary ip-tracker-query" v-on:click="traceIp">Trace!</button>
        <container class="sk-chase" v-if="spinner">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
        </container>
        <hr/>
        <div class="alert alert-danger alert-dismissible fade show" v-if="message.display">
            {{message.text}}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <ul v-if="display" class ="ip-tracker-ul">
            <li>IP: {{countryDataInfo.ip}}, fecha actual: {{countryDataInfo.requestDate}}</li>
            <li>País: {{countryDataInfo.nameInfo.nativeName}} ({{countryDataInfo.nameInfo.name}})</li>
            <li>ISO Code: {{countryDataInfo.ISOcode}}</li>
            <li>Idiomas: {{countryDataInfo.languages}}</li>
            <li>Moneda: {{countryDataInfo.currencyInfo.rate}} {{getCurrencyInfoLabel}} </li>
            <li>Hora: {{countryDataInfo.currentTimes}}</li>
            <li>Distancia estimada: {{countryDataInfo.distanceInfo.distanceToBsAs}} kms ({{countryDataInfo.distanceInfo.argLtdLng}}) a ({{countryDataInfo.distanceInfo.ltdLng}})</li>
        </ul>
    </div>

    <hr/>

    <div id="countryDataStats" class = "stats">
        <button type = "button" class = "btn btn-warning" v-on:click="loadStatistics"> {{btnText}} </button>
        <container class="spinner" v-if="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </container>
        <button type = "button" class = "btn btn-danger" style="margin-left: 20px;"v-on:click="hideTable" v-if='displayTable'>Ocultar</button>
        <div class="alert alert-warning alert-dismissible fade show" v-if="message.display">
            {{message.text}}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        <div v-if="displayTable">
            <table class="table table-bordered stats-table">
                <thead>
                    <tr>
                        <th>País</th>
                        <th>Distancia</th>
                        <th>Invocaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="stat in countryStats">
                        <td>{{stat.countryName}}</td>
                        <td>{{stat.distance}} kms</td>
                        <td>{{stat.requestCount}}</td>
                    </tr>
                </tbody>
            </table>
            <h5>Invocación más lejana: {{farestRequest.countryName}} - {{farestRequest.distance}} kms</h5>
            <h5>Invocación más cercana: {{nearestRequest.countryName}} - {{nearestRequest.distance}} kms</h5>
            <h5>Distancia promedio: {{averageDistance}} kms</h5>
        </div>    
    </div>
</body>





<script>
    var ipTracker = new Vue ({
            el: '#ipTracker',
            data: {
                ipQuery: '0.0.0.0',
                countryDataInfo: {
                    ip:'',
                    requestDate:'',
                    nameInfo:{},
                    ISOcode:'',
                    currencyInfo:{},
                    languages:[],
                    currentTimes:[],
                    distanceInfo:{}
                },
            display: false,
            spinner: false,
            message: {
                display:false,
                text:''
            }
            },
            methods: {
                traceIp: async function() {
                    this.resetFields()
                    this.showSpinner()
                    const response = await fetch(`http://localhost:3000/traceip/${this.ipQuery}`)
                    this.hideSpinner()
                    if(response.status === 200) {
                        const responseJson = await response.json()
                        this.setCountryDataInfo(responseJson)
                        this.display = true
                    } else {
                        const message = await response.text()
                        this.message.display = true
                        this.message.text = message
                    }
                },
                resetFields: function() {
                    this.display = false
                    this.message.display = false
                    this.message.text = ''
                },
                setCountryDataInfo: function(countryDataDTOJson) {
                    const {ip, requestDate, nameInfo, ISOcode, currencyInfo, languages, currentTimes, distanceInfo} = countryDataDTOJson
                    this.countryDataInfo.ip = ip
                    this.countryDataInfo.requestDate = requestDate
                    this.countryDataInfo.nameInfo = nameInfo
                    this.countryDataInfo.ISOcode = ISOcode
                    this.countryDataInfo.currencyInfo = {rate: currencyInfo.rate, USDequivalence: currencyInfo.USDequivalence}
                    this.countryDataInfo.languages = languages
                    this.countryDataInfo.currentTimes = currentTimes
                    this.countryDataInfo.distanceInfo = distanceInfo
                },
                showSpinner: function() {this.spinner = true},
                hideSpinner: function() {this.spinner = false}
              
            },
            computed: {
                getCurrencyInfoLabel : function() {
                    return this.countryDataInfo.currencyInfo.USDequivalence ? ` (1 ${this.countryDataInfo.currencyInfo.rate} = ${this.countryDataInfo.currencyInfo.USDequivalence} U$D)`: ' - Cotización en U$D no disponible'
                }
            }    
    })
    var countryDataStats = new Vue({
        el: '#countryDataStats',
        data: {
            displayTable: false,
            btnText: "Cargar estadísticas",
            message: {
                display:false,
                text:''
            },
            countryStats: [
            ],
            farestRequest: {},
            nearestRequest: {},
            averageDistance:'',
            spinner: false
        },
        methods:{
            loadStatistics: async function() {
                this.showSpinner()
                this.displayTable = false
                const response = await fetch(`http://localhost:3000/stats`)
                if (response.status === 200) {
                    const countryStatsJson = await response.json()
                    this.populateTable(countryStatsJson)
                } else {
                    const message = await response.text()
                    this.message.display = true
                    this.message.text = message
                }
                
                if (this.countryStats.length > 0) {
                    this.showTable()
                    this.btnText = 'Refrescar'
                } 
                this.hideSpinner()
            }
            ,
            showTable: function() {
                this.displayTable = true
            },
            hideTable: function(){
                this.displayTable = false
                this.btnText = 'Cargar estadísticas'
            },
            populateTable: function(countryStatsDTOJson) {
                const {countryStats, farestRequestInfo, nearestRequestInfo, averageDistance} = countryStatsDTOJson
                this.countryStats = []
                countryStats.forEach(s => {
                    this.countryStats.push({
                        countryName: s.countryName,
                        distance: s.distance,
                        requestCount: s.requestCount
                    })
                })
                
                this.farestRequest = farestRequestInfo,
                this.nearestRequest = nearestRequestInfo,
                this.averageDistance = averageDistance
            },
            showSpinner: function() {this.spinner = true},
            hideSpinner: function() {this.spinner = false}
        }
    })
</script>
</html>